{% extends 'PfeWebBundle:Backend:layout.html.twig' %}


{% block content -%}

<p class="mb20"></p>

<div class="table-responsive">

    <table class="table table-bordered mb30">
        <thead>
        <tr>
            <th colspan="4">


                <h4 class="panel-title" align="center">
                    <font color="#008b8b" size="5%" >
                        {{ 'sidebar.Liste des cours'|trans({}, 'backend') }}</font></h4>

            </th>
        </tr>
        <tr>



            <th></th>


           <th>
                {{ 'cours.duree'|trans({}, 'backend') }}
         </th>
            <th>
                {{ 'cours.nom'|trans({}, 'backend') }}
            </th>

            </th>
            <th>
                #
            </th>


        </tr>






        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

            <tr>

                <td class="table-action">

                    <a href="{{ path('courses_edit', { 'id': entity.id }) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="delete-row" href="">
                        <i class="fa fa-trash-o"></i>
                    </a>

                </td>
            <td>{% if entity.durationcourses %}{{ entity.durationcourses|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.namecourses }}</td>

                <td><a href="{{ path('courses_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</li>
    </ul>
    {% endblock %}