{% extends 'PfeWebBundle:Backend:layout.html.twig' %}


{% block content -%}

    <div class="col-md-6">

        <form id="basicForm" class="form-horizontal" action="{{ path('courses_create') }}" novalidate="novalidate" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a class="panel-close" href="#">

                            ×

                        </a>
                        <a class="minimize" href="#">

                            -

                        </a>
                    </div>
                    <h4 class="panel-title" align="center">   <font color="#008b8b" size="5%" align="left">
                            {{ 'sidebar.Ajouter cours'|trans({}, 'backend') }}</font>

                    </h4>

                </div>
                <div class="panel-body">
                    <div class="form-group">

                        <div class="col-sm-9">
                            {{ form_widget(form.namecourses) }}
                            {{ form_errors(form.namecourses) }}
                        </div>




                        <label class="col-sm-3 control-label">
                            <font color="red">

                                *
                            </font><font color="black">


                            {{ 'cours.nom'|trans({}, 'backend') }}</font>

                        </label></div>
                    <div class="form-group">

                        <div class="col-sm-9">
                            {{ form_widget(form.typecourse) }}
                            {{ form_errors(form.typecourse) }}
                        </div>




                        <label class="col-sm-3 control-label">
                            <font color="red">

                                *
                            </font><font color="black">


                                {{ 'cours.nom'|trans({}, 'backend') }}</font>

                        </label></div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            {{ form_widget(form.durationcourses) }}
                            {{ form_errors(form.durationcourses) }}
                        </div>



                        <label class="col-sm-3 control-label">
                            <font color="red">

                                *
                            </font><font color="black">


                                {{ 'cours.duree'|trans({}, 'backend') }}</font>

                        </label>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            {{ form_widget(form.groups) }}
                            {{ form_errors(form.groups) }}
                        </div>



                        <label class="col-sm-3 control-label">
                            <font color="red">

                                *
                            </font><font color="black">

                                {{ 'groupe.nom'|trans({}, 'backend') }}</font>

                        </label>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            {{ form_widget(form.weeklysession) }}
                            {{ form_errors(form.weeklysession) }}
                        </div>


                        <label class="col-sm-3 control-label">
                            <font color="red">

                                *
                            </font><font color="black">


                                {{ 'seanceheb.nom'|trans({}, 'backend') }}</font>

                        </label>

                    </div>

                    <div class="panel-footer">

                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3" >


                                <p align="center"> <button type="submit" class="btn btn-success" id="validercours"><i class="icon-ok icon-white"></i> {{ 'Liens.envoyer'|trans({}, 'backend') }}</button></p>

                            </div>
                        </div>
                        <!--

                         panel

                        -->







                    </div>





                    <!--

                     panel

                    -->


                </div>

                {{ form_widget(form._token) }}


            </div></form></div>























   {#<h1>Courses creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('courses') }}">
            Back to the list
        </a>
    </li>
</ul>#}
{% endblock %}
