{% extends 'PfeWebBundle:Backend:layout.html.twig' %}


{% block content -%}

    <div class="col-md-6">

        <form id="basicForm" class="form-horizontal" action="{{ path('student_update', { 'id': entity.id }) }}"  novalidate="novalidate" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a class="panel-close" href="#">

                            ×

                        </a>
                        <a class="minimize" href="#">

                            −

                        </a>
                    </div>
                    <h4 class="panel-title" align="center"><font color="#008b8b" size="5%" align="left">

                            {{ 'sidebar.Enregister apprenant'|trans({}, 'backend') }}</font>

                    </h4>

                </div>
                <div class="panel-body">
                    <div class="form-group">

                        <div class="col-sm-9">
                  {{ form_widget(edit_form.mere) }}
                            {{ form_errors(edit_form.mere) }}
                        </div>




                        <label class="col-sm-3 control-label">


                             <font color="black">
                                {{ 'student.Mere'|trans({}, 'backend') }}</font>

                        </label></div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            {{ form_widget(edit_form.pere) }}
                            {{ form_errors(edit_form.pere) }}
                        </div>



                        <label class="col-sm-3 control-label">
                         <font color="black">

                                {{ 'student.Pere'|trans({}, 'backend') }}</font>

                        </label>

                    </div>


                    <div class="form-group">
                        <div class="col-sm-9">
                            {{ form_widget(edit_form.ecole) }}
                            {{ form_errors(edit_form.ecole) }}
                        </div>


                        <label class="col-sm-3 control-label">
                            <font color="black">

                                {{ 'student.Ecole'|trans({}, 'backend') }}</font>

                        </label>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            {{ form_widget(edit_form.niveauscolaire) }}
                            {{ form_errors(edit_form.niveauscolaire) }}
                        </div>

                        <label class="col-sm-3 control-label">
                            <font color="black">

                                {{ 'student.Niveau scolaire'|trans({}, 'backend') }}</font>

                        </label>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            {{ form_widget(edit_form.group) }}
                            {{ form_errors(edit_form.group) }}
                        </div>

                        <label class="col-sm-3 control-label">

                            <font color="black">
                            {{ 'sidebar.Groupe'|trans({}, 'backend') }}

                        </font></label>

                    </div>


                    <div class="panel-footer">

                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">


                                <p align="center"> <button type="submit" class="btn btn-success" id="valideruser"><i class="icon-ok icon-white"></i> {{ 'Liens.modifier'|trans({}, 'backend') }}</button></p>

                                {{ form_end(edit_form) }}</div></div></div></div>




                    </div>

            {{ form_rest(edit_form) }}
        </form></div>






  {# <h1>Student edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>#}
{% endblock %}
