

{% block body -%}
    <h1>{{ 'sidebar.Liste des apprenants'|trans({}, 'backend') }}</h1>

    <table class="records_list" border="1">
        <thead>
            <tr>
                <th>{{ 'student.Id'|trans({}, 'backend') }}</th>
               {# <th>User</th>#}
                <th>{{ 'student.Mere'|trans({}, 'backend') }}</th>
                <th>{{ 'student.Pere'|trans({}, 'backend') }}</th>
                <th>{{ 'student.Ecole'|trans({}, 'backend') }}</th>
                <th>{{ 'student.Niveau scolaire'|trans({}, 'backend') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('student_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

               {#<td>{{ entity.user }}</td>#}
                <td>{{ entity.mere }}</td>
                <td>{{ entity.pere }}</td>
                <td>{{ entity.ecole }}</td>
                <td>{{ entity.niveauscolaire }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('student_show', { 'id': entity.id }) }}"><button type="button" class="btn btn-default btn-lg">
                                <span class=" glyphicon-pencil"></span>{{ 'Liens.Show'|trans({}, 'backend') }}</button></a>
                    </li>
                    <li><span class=" glyphicon-pencil"></span>
                        <a href="{{ path('student_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-default btn-lg">
                                 {{ 'Liens.Editer'|trans({}, 'backend') }}
                            </button></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('student_new') }}">
                <button type="button" class="btn btn-default btn-lg">
                    <span class=" glyphicon-pencil"></span> {{ 'Liens.Ajouter'|trans({}, 'backend') }}
                </button></a>
            </a>
        </li>
    </ul>
    {% endblock %}
