{% extends 'PfeWebBundle:Backend:layout.html.twig' %}


{% block content -%}

<h1>{{ 'sidebar.Liste des apprenants'|trans({}, 'backend') }}</h1>


<p class="mb20"></p>

<div class="table-responsive">

    <table class="table table-striped mb30">
        <thead>
        <tr>
       <th></th>

            <th>
                {{ 'student.Niveau scolaire'|trans({}, 'backend') }}
            </th>
            <th>
                {{ 'student.Ecole'|trans({}, 'backend') }}
            </th>
            <th>
                {{ 'student.Mere'|trans({}, 'backend') }}
            </th>
            <th>
                {{ 'student.Pere'|trans({}, 'backend') }}
            </th>

            </th>
            <th>
                #
            </th>


        </tr>


        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>


                <td class="table-action">

                    <a href="{{ path('student_edit', { 'id': entity.id }) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="delete-row" href="{{ path('student_delete', { 'id': entity.id }) }}">
                        <i class="fa fa-trash-o"></i>
                    </a>

                </td>

                <td>{{ entity.niveauscolaire }}</td>
                <td>{{ entity.ecole }}</td>

                <td>{{ entity.mere }}</td>
                <td>{{ entity.pere }}</td>

               <td><a href="{{ path('student_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>


                {#<td>
                <ul>
                    <li>
                        <a href="{{ path('student_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('student_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('student_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
