

{% block body -%}
    <h1>{{ 'sidebar.Liste des apprenants'|trans({}, 'backend') }}</h1>

    <table class="record_properties" border="1">
        <tbody>
            <tr>
                <th>{{ 'student.Id'|trans({}, 'backend') }}</th>
                <td>{{ entity.id }}</td>
            </tr>

            {# <tr>
                <th>User</th>
                <td>{{ entity.user }}</td>
            </tr> #}
            <tr>
                <th>{{ 'student.Mere'|trans({}, 'backend') }}</th>
                <td>{{ entity.mere }}</td>
            </tr>
            <tr>
                <th>{{ 'student.Pere'|trans({}, 'backend') }}</th>
                <td>{{ entity.pere }}</td>
            <tr>
                <th>{{ 'student.Ecole'|trans({}, 'backend') }}</th>
                <td>{{ entity.ecole }}</td>
            <tr>
                <th>{{ 'student.Niveau scolaire'|trans({}, 'backend') }}</th>
                <td>{{ entity.niveauscolaire }}</td>
            </tr>
            </tr>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            <button type="button" class="btn btn-default btn-lg">
                <span class=" glyphicon-pencil"></span>
                {{ 'Liens.Retour à la liste'|trans({}, 'backend') }}</button>
        </a>
    </li>
    <li>
        <a href="{{ path('student_edit', { 'id': entity.id }) }}">
            <i class="glyphicon glyphicon-th-list"></i>
        </a>

    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
