{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Student</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Mere</th>
                <td>{{ entity.mere }}</td>
            </tr>
            <tr>
                <th>Pere</th>
                <td>{{ entity.pere }}</td>
            </tr>
            <tr>
                <th>Ecole</th>
                <td>{{ entity.ecole }}</td>
            </tr>
            <tr>
                <th>Niveauscolaire</th>
                <td>{{ entity.niveauscolaire }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('student_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
