{% extends 'PfeWebBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>Typecourse</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nametypecourse</th>
                <td>{{ entity.nametypecourse }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('typecourse') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('typecourse_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
