{% extends 'PfeWebBundle:Backend:layout.html.twig' %}

{% block content %}

    {{ dump(form) }}

    <div class="row">
        <div class="col-md-10 col-md-offset-1 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Block Styled Form</h4>
                    {{ form_errors(form) }}
                </div>
                <form action="{{ path('user_create') }}" method="post" >
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.firstName) }}
                            </div>
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.lastName) }}
                            </div>
                        </div><!-- col-sm-6 -->
                    </div><!-- row -->



                </div><!-- panel-body -->
                <div class="panel-footer">
                    <button class="btn btn-primary">Create</button>
                </div>
                </form>
            </div>
        </div>

    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}