{% extends 'PfeWebBundle:Backend:layout.html.twig' %}

{% block content -%}

    <div class="col-md-6">

    <form  action="{{ path('teacher_update', { 'id': entity.id }) }}"  {{ form_enctype(form) }} method="post">
    {{ form_start(edit_form) }}
    <div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a class="panel-close" href="#">

                ×

            </a>
            <a class="minimize" href="#">

                −

            </a>
        </div>
        <h4 class="panel-title" align="center"><font color="#008b8b" size="5%" align="left">

                {{ 'sidebar.Enregistrer enseignant'|trans({}, 'backend') }}</font>

        </h4>

    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <div class="form-group">
        <div class="col-sm-9">
            {{ form_errors(edit_form.user.cin) }}
            {{ form_widget(edit_form.user.cin) }}
        </div>

        <label class="col-sm-3 control-label">
            <font color="red">

                *
            </font><font color="black">

                {{ 'user.cin'|trans({}, 'backend') }}</font>

        </label>

    </div>

    <div class="form-group">

        <div class="col-sm-9">


            {{ form_errors(edit_form.user.username) }}
            {{ form_widget(edit_form.user.username) }}</option>

        </div>
        <label class="col-sm-3 control-label">
            <font color="red">

                *
            </font><font color="black">

                {{ 'user.login'|trans({}, 'backend') }}</font>
        </label>
    </div>


    <div class="form-group">
        <div class="col-sm-9">

            {{ form_errors(edit_form.user.firstName) }}
            {{ form_widget(edit_form.user.firstName) }}
        </div>
        <label class="col-sm-3 control-label">
            <font color="red">

                *
            </font><font color="black">
                {{ 'user.nom'|trans({}, 'backend') }}</font>

        </label>

    </div>

    <div class="form-group">
        <div class="col-sm-9">
            {{ form_errors(edit_form.user.lastName) }}
            {{ form_widget(edit_form.user.lastName) }}
        </div>
        <label class="col-sm-3 control-label">
            <font color="red">

                *
            </font>
            <font color="black">

                {{ 'user.prenom'|trans({}, 'backend') }}</font>

        </label>

    </div>


    <div class="form-group">
        <div class="col-sm-9">
            {{ form_errors(edit_form.user.adresse) }}
            {{ form_widget(edit_form.user.adresse) }}
        </div>

        <label class="col-sm-3 control-label">
            <font color="red">

                *
            </font><font color="black">

                {{ 'user.adress'|trans({}, 'backend') }}</font>

        </label>

    </div>

    <div class="form-group">
        <div class="col-sm-9">
            {{ form_errors(edit_form.user.phone) }}
            {{ form_widget(edit_form.user.phone) }}
        </div>

        <label class="col-sm-3 control-label">
            <font color="red">

                *
            </font><font color="black">

                {{ 'user.num_tel'|trans({}, 'backend') }}</font>

        </label>

    </div>

    <div class="form-group">
        <div class="col-sm-9">
            {{ form_errors(edit_form.user.email) }}
            {{ form_widget(edit_form.user.email) }}
        </div>
        <label class="col-sm-3 control-label">
            <font color="red">

                *
            </font><font color="black">
                {{ 'user.email'|trans({}, 'backend') }}</font>

        </label>

    </div>

    <div class="form-group">
        <div class="col-sm-9">
            {{ form_errors(edit_form.user.email) }}
            {{ form_widget(edit_form.user.email) }}
        </div>
        <label class="col-sm-3 control-label">
            <font color="red">

                *
            </font><font color="black">
                {{ 'user.email'|trans({}, 'backend') }}</font>

        </label>

    </div>

    <div>
        <div class="form-group">
            <div class="col-sm-9">
                {{ form_errors(edit_form.user.plainPassword) }}
                {{ form_widget(edit_form.user.plainPassword) }}
            </div>
            <label class="col-sm-3 control-label">
                <font color="red">

                    *
                </font><font color="black">

                    {{ 'user.password'|trans({}, 'backend') }}</font>

            </label>

        </div>


        <div class="form-group">
            <div class="col-sm-9">
                {{ form_errors(edit_form.user.dateofbirth) }}
                {{ form_widget(edit_form.user.dateofbirth) }}
            </div>

            <label class="col-sm-3 control-label">
                <font color="red">

                    *
                </font><font color="black">

                    {{ 'user.date_naissance'|trans({}, 'backend') }}</font>

            </label>

        </div>



        <div class="panel-body">
            <div class="form-group">

                <div class="col-sm-9">
                    {{ form_widget(edit_form.diplome) }}
                    {{ form_errors(edit_form.diplome) }}
                </div>
                <label class="col-sm-3 control-label">

                    <font color="red">

                        *

                    </font><font color="black">
                        {{ 'enseignant.diplome'|trans({}, 'backend') }}

                    </font>   </label>
            </div>


            <div class="panel-body">
                <div class="form-group">

                    <div class="col-sm-9">
                        {{ form_widget(edit_form.commissions) }}
                        {{ form_errors(edit_form.commissions) }}
                    </div>
                    <label class="col-sm-3 control-label">

                        <font color="red">

                            *

                        </font><font color="black">
                            {{ 'enseignant.commission'|trans({}, 'backend') }}

                        </font>   </label>
                </div>



                <div class="form-group">
                    <div class="col-sm-9">
                        {{ form_errors(edit_form.user.description) }}
                        {{ form_widget(editform.user.description) }}
                    </div>

                    <label class="col-sm-3 control-label">
                        <font color="black">

                            {{ 'user.description'|trans({}, 'backend') }}</font>

                    </label>

                </div>
                <div class="panel-footer">

                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3" >


                            <p>&nbsp;&nbsp;</p>
                            <button type="submit" class="btn btn-success" id="validerapprenant"><i class="icon-ok icon-white"></i> {{ 'Liens.modifier'|trans({}, 'backend') }}</button>
                            <button type="reset" class="btn btn-danger" id="validerapprenant"><i class="icon-ok icon-white"></i> {{ 'Liens.annuler'|trans({}, 'backend') }}</button>
                        </div>
                    </div>
                    <!--

                     panel

                    -->







                </div></div> </div></div>

    {{ form_end(form) }}
   </div> </form></div>















{#{{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>#}
{% endblock %}
