{% extends 'PfeWebBundle:Backend:layout.html.twig' %}


{% block content -%}


<h1>{{ 'sidebar.Liste des  enseignants'|trans({}, 'backend') }}</h1>


<p class="mb20"></p>

<div class="table-responsive">

    <table class="table table-striped mb30">
        <thead>
        <tr>



            <th></th>


            <th>
                {{ 'enseignant.description'|trans({}, 'backend') }}
            </th>
            <th>
                {{ 'enseignant.diplome'|trans({}, 'backend') }}
            </th>

            </th>
            <th>
                #
            </th>


        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td class="table-action">

                    <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="delete-row" href="">
                        <i class="fa fa-trash-o"></i>
                    </a>

                </td>


                <td>{{ entity.description }}</td>
                <td>{{ entity.diplome }}</td>
                <td><a href="{{ path('teacher_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

              {#  <td>
                <ul>
                    <li>
                        <a href="{{ path('teacher_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('teacher_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
