<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">


        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/pfeweb/Frontend/css/bootstrap.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/pfeweb/Frontend/css/font-awesome.min.css')}}">

        <!-- Just for debugging purposes. Don't actually copy this line! -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/pfeweb/Frontend/css/megamenu.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/pfeweb/Frontend/css/main.css')}}" rel="stylesheet">

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
