{% extends 'PfeWebBundle:Backend:layout.html.twig' %}


{% block content -%}


        <h1>{{ 'user.liste_users'|trans({}, 'backend') }}</h1>


        <p class="mb20"></p>

        <div class="table-responsive">

            <table class="table table-striped mb30">
                <thead>
                <tr>





                    <th></th>
                    <th>
                        {{ 'user.date_naissance'|trans({}, 'backend') }}
                    </th>


                    <th>
                        {{ 'user.email'|trans({}, 'backend') }}
                    </th>

                    <th>
                        {{ 'user.prenom'|trans({}, 'backend') }}
                    </th>

                    <th>

                        {{ 'user.nom'|trans({}, 'backend') }}

                    </th>
                    <th>

                        {{ 'user.login'|trans({}, 'backend') }}

                    </th>


                    <th>
                        #
                    </th>


                </tr>
                </thead>
                <tbody>

                    {% for entity in entities %}

                <tr>

                    <td class="table-action">

                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="delete-row" href="">
                            <i class="fa fa-trash-o"></i>
                        </a>

                    </td>

                   {#<td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>#}

               {# <td>{{ entity.description }}</td>#}
                {#<td>{% if entity.registrationdate %}{{ entity.registrationdate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                <td>{% if entity.dateofbirth %}{{ entity.dateofbirth|date('Y-m-d H:i:s') }}{% endif %}</td>

                {#<td>{{ entity.phone }}</td>#}
                {#<td>{{ entity.adresse }}</td>#}
                <td>{{ entity.email }}</td>
                <td>{{ entity.lastName }}</td>

                <td>
                   {{ entity.firstName }}</option> </select>
                </td>


               {# <td>{{ entity.cin }}</td>#}

                <td>{{ entity.userName }}</td>
               <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>









            </tr>


                <tr></tr>
            <tr></tr>

                {% endfor %}
            </tbody>
        </table>
        <select>
            {% for entity in entities%}

                <option value="">{{ entity.userName }}</option>
            {% endfor %}

        </select>
    </div>


{#    <table class="records_list">
        <thead>
            <tr>

                <th> {{ 'user.cin'|trans({}, 'backend') }}
                </th>
                <th>{{ 'user.nom'|trans({}, 'backend') }}</th>
                <th>{{ 'user.prenom'|trans({}, 'backend') }}</th>
                <th>{{ 'user.adress'|trans({}, 'backend') }}</th>
                <th>{{ 'user.num_tel'|trans({}, 'backend') }}</th>
                <th>{{ 'user.email'|trans({}, 'backend') }}</th>
                <th>{{ 'user.date_naissance'|trans({}, 'backend') }}</th>
               {# <th>Enabled</th>

                <th>{{ 'user.description'|trans({}, 'backend') }}</th>

                <th>  {{ 'user.date_inscription'|trans({}, 'backend') }} </th>
            </tr>
        </thead> #}
       {#<tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.cin }}</td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.dateofbirth %}{{ entity.dateofbirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.registrationdate %}{{ entity.registrationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}