{% extends 'PfeWebBundle:Backend:layout.html.twig' %}

{% block content -%}
<div class="col-md-6">

    <form  action="path{{'sourah_create'}}" {{ form_enctype(form) }} methode='post'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a class="panel-close" href="#">

                        ×

                    </a>
                    <a class="minimize" href="#">

                        −

                    </a>
                </div>
                <h4 class="panel-title" align="center"><font color="#008b8b" size="5%" align="left">

                    {{ 'sidebar.sourah.new'|trans({}, 'backend') }}

               </font> </h4>

            </div>



            <div class="panel-body">
                <div class="form-group">

                    <div class="col-sm-9">
                        {{ form_widget(form.namesourah) }}
                        {{ form_errors(form.namesourah) }}
                    </div>




                    <label class="col-sm-3 control-label">
                        <font color="red">

                            *

                        </font><font color="black">

                        {{ 'sourah.nom'|trans({}, 'backend') }}</font>
                          </label></div>
                <div class="form-group">
                    <div class="col-sm-9">
                        {{ form_widget(form.numsourah) }}
                        {{ form_errors(form.numsourah) }}
                    </div>



                    <label class="col-sm-3 control-label">
                        <font color="red">

                            *

                        </font><font color="black">

                        {{ 'sourah.num'|trans({}, 'backend') }}</font>

                    </label>

                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        {{ form_widget(form.hezb) }}
                        {{ form_errors(form.hezb) }}
                    </div>



                    <label class="col-sm-3 control-label">
                        <font color="red">

                            *

                        </font><font color="black">

                        {{ 'hezb.num hezb'|trans({}, 'backend') }}</font>

                    </label>

                </div>


                <div class="panel-footer">

                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">

                            <button type="submit" class="btn btn-success" id="valideruser"><i class="icon-ok icon-white"></i> {{ 'Liens.envoyer'|trans({}, 'backend') }}</button>
                            <button type="reset" class="btn btn-danger" id="validerapprenant"><i class="icon-ok icon-white"></i> {{ 'Liens.annuler'|trans({}, 'backend') }}</button>
                        </div>
                    </div>

                    <!--

                     panel

                    -->


                </div>




            </div> </div></form></div>











   {#<h1>Sourah creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sourah') }}">
            Back to the list
        </a>
    </li>
</ul>#}
{% endblock %}
