{% extends 'PfeWebBundle:Backend:layout.html.twig' %}


{% block content -%}


<h1>  {{ 'sidebar.Liste des commissions'|trans({}, 'backend') }}</h1>


<p class="mb20"></p>

<div class="table-responsive">

    <table class="table table-hidaction table-hover mb30">
        <thead>
        <tr>
            <th></th>

            <th>
                {{ 'commission.description'|trans({}, 'backend') }}
            </th>
            <th>
                {{ 'commission.type'|trans({}, 'backend') }}
            </th>

            </th>
            <th>
                #
            </th>


        </tr>




        <tbody>
        {% for entity in entities %}
            <tr>

                <td class="table-action">

                    <a href="{{ path('commission_edit', { 'id': entity.id }) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <form action="{{ path('commission_delete', { 'id': entity.id }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <div style="display: none;"> {{ form_widget(deleteForms[entity.id]) }}</div>
                        <button type="submit" class="fa fa-trash-o">
                            {#  <i class="fa fa-trash-o"></i>#}
                            {#{{ 'links.admin.form.delete' | trans({}, 'FooBundle') }}#}
                        </button>
                    </form>
                </td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.typecommission }}</td>
                <td><a href="{{ path('commission_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>


                {#<td>
                <ul>
                    <li>
                        <a href="{{ path('commission_show', { 'id': entity.id }) }}">show</a>
                    </li>
                   <li>
                        <a href="{{ path('commission_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('commission_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
