<div class="leftpanel">

    <div class="logopanel">
        <h1><span>[</span> AkidaWeb <span>]</span></h1>
    </div><!-- logopanel -->

    <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">

                <div class="media-body">
                    <h4>Admin User</h4>
                    <span>"Life is so..."</span>
                </div>
            </div>

            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
                <li><a href="#"><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
                <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <class="sidebartitle"><h3> <span>{{ 'sidebar.Menu'|trans({}, 'backend') }}</span></h3>

        <ul class="nav nav-pills nav-stacked nav-bracket">

          <li class="nav-parent nav-active active">



 <li class="nav-parent">
 <a href="">
 <i class="glyphicon glyphicon-user"></i>
  <span>{{ 'sidebar.utilisateur'|trans({}, 'backend') }}</span>
 </a>
  <ul class="children" style="display: none;">
  <li>
   <a href="{{ path('user_new') }}">
   <i class="fa fa-caret-right"></i>
       {{ 'sidebar.Ajouter'|trans({}, 'backend') }}
 </a>
</li>


 <li>

 <a href="">
<i class="fa fa-caret-right"></i>
     {{ 'sidebar.Lister'|trans({}, 'backend') }}
 </a>


 <ul >
<li>
<a href="{{ path('user') }}">
  <i class="fa fa-caret-right"></i>
             {{ 'sidebar.users'|trans({}, 'backend') }}
 </a>
 </li>

     <li>
<a href="{{ path('student') }}">
 <i class="fa fa-caret-right"></i>
    {{ 'sidebar.Apprenant'|trans({}, 'backend') }}
</a>
</li>
     <li>
         <a href="{{ path('teacher') }}">
             <i class="fa fa-caret-right"></i>
             {{ 'sidebar.Enseignant'|trans({}, 'backend') }}
         </a>
     </li>
</ul>
      </li>
 </ul>
 </li>





            <li class="nav-parent">
                <a href="">
                    <i class="fa fa-group"></i>
                    <span>{{ 'sidebar.Groupe'|trans({}, 'backend') }}</span>
                </a>
                <ul class="children" style="display: none;">
                    <li>
                        <a href="{{ path('group_new') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Ajouter groupe'|trans({}, 'backend') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('group') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Lister groupe'|trans({}, 'backend') }}

                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-parent">
                <a href="">
                    <i class="fa fa-users"></i>
                    <span>{{ 'sidebar.Commission'|trans({}, 'backend') }}</span>
                </a>
                <ul class="children" style="display: none;">
                    <li>
                        <a href="{{ path('commission_new') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Ajouter commission'|trans({}, 'backend') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('commission') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Liste des commissions'|trans({}, 'backend') }}

                        </a>
                    </li>
                </ul>
            </li>



            <li class="nav-parent">
                <a href="">
                    <i class="fa fa-bullhorn"></i>
                    <span>{{ 'sidebar.Examens horales'|trans({}, 'backend') }}</span>
                </a>
                <ul class="children" style="display: none;">
                    <li>
                        <a href="{{ path('oraltest_new') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Ajouter examen horale'|trans({}, 'backend') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('oraltest') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Liste des examens horales'|trans({}, 'backend') }}

                        </a>
                    </li>

                    <li>
                        <a href="{{ path('student') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Change horale'|trans({}, 'backend') }}

                        </a>
                    </li>
                </ul>
            </li>



            <li class="nav-parent">
                <a href="">
                    <i class="glyphicon glyphicon-book"></i>
                    <span>{{ 'sidebar.Cours'|trans({}, 'backend') }}</span>
                </a>
                <ul class="children" style="display: none;">
                    <li>
                        <a href="{{ path('courses_new') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Ajouter cours'|trans({}, 'backend') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('courses') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Liste des cours'|trans({}, 'backend') }}

                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-parent">
                <a href="">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <span>{{ 'sidebar.Examens'|trans({}, 'backend') }}</span>
                </a>
                <ul class="children" style="display: none;">
                    <li>
                        <a href="{{ path('examen_new') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Ajouter examen'|trans({}, 'backend') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('examen') }}">
                            <i class="fa fa-caret-right"></i>
                            {{ 'sidebar.Liste des examens'|trans({}, 'backend') }}

                        </a>
                    </li>
                </ul>
            </li>


          <li class="nav-parent">
              <a href="">
                  <i class="fa fa-book"></i>
                  <span>{{ 'sidebar.Ahzeb'|trans({}, 'backend') }}</span>
              </a>
              <ul class="children" style="display: none;">
                  <li>
                      <a href="{{ path('hezb_new') }}">
                          <i class="fa fa-caret-right"></i>
                          {{ 'sidebar.Ajouter hezb'|trans({}, 'backend') }}
                      </a>
                  </li>
                  <li>
                      <a href="{{ path('hezb') }}">
                          <i class="fa fa-caret-right"></i>
                          {{ 'sidebar.Liste ahzebs'|trans({}, 'backend') }}

                      </a>
                  </li>

                  <li>
                      <a href="{{ path('hezb') }}">
                          <i class="fa fa-caret-right"></i>
                          {{ 'sidebar.App hezb'|trans({}, 'backend') }}

                      </a>
                  </li>
              </ul>
          </li>







          {#  <li><a href="{{ path('pfe_backend_homepage') }}"><i class="fa fa-home"></i> <span>{{ 'sidebar.dashboard'|trans({}, 'backend') }}</span></a></li>#}



        </ul>
    </div><!-- leftpanelinner -->
</div><!-- leftpanel -->