{% extends 'PfeWebBundle:Backend:layout.html.twig' %}

    {% block content -%}

        <div class="col-md-6">

            <form  action="{{ path('session_create') }}"  method="post" {{ form_enctype(form) }}>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-btns">
                            <a class="panel-close" href="#">

                                ×

                            </a>
                            <a class="minimize" href="#">

                                −

                            </a>
                        </div>
                        <h4 class="panel-title" align="center">   <font color="#008b8b" size="5%" align="left">

                                {{ 'form.ajoutseance'|trans({}, 'backend') }}

                            </font> </h4>

                    </div>
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="col-sm-9">
                                {{ form_widget(form.date) }}
                                {{ form_errors(form.date) }}
                            </div>




                            <label class="col-sm-3 control-label">

                                <font color="red">

                                    *

                                </font><font color="black">
                                    {{ 'seance.date'|trans({}, 'backend') }}

                                </font>   </label></div>

                        <div class="panel-footer">

                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3">


                                    <p align="center"> <button type="submit" class="btn btn-success" id="validerenseignant"><i class="icon-ok icon-white" align="center"></i> {{ 'Liens.envoyer'|trans({}, 'backend') }}</button></p>

                                </div> </div>

                            {{ form_rest(form) }}
                        </div></div></div></form></div>



    {#<h1>Session creation</h1>

     {{ form(form) }}

         <ul class="record_actions">
     <li>
         <a href="{{ path('session') }}">
             Back to the list
         </a>
     </li>
 </ul>#}
{% endblock %}
