{% extends 'PfeWebBundle:Backend:layout.html.twig' %}


{% block content -%}



<p class="mb20"></p>

<div class="table-responsive">

    <table class="table table-bordered mb30">
        <thead>
        <tr>
            <th colspan="6">


                <h4 class="panel-title" align="center">
                    <font color="#008b8b" size="5%" align="left">
                        {{ 'sidebar.Liste des examens'|trans({}, 'backend') }}</font></h4>

            </th>
        </tr>
        <tr>




            <th></th>


            <th>
                {{ 'examen.heure fin'|trans({}, 'backend') }}
            </th>
            <th>
                {{ 'examen.heure deb'|trans({}, 'backend') }}
            </th>
            <th>
                {{ 'examen.date'|trans({}, 'backend') }}
            </th>
            <th>
                {{ 'examen.nom'|trans({}, 'backend') }}
            </th>

            <th>
                #
            </th>


        </tr>


        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td class="table-action">

                    <a href="{{ path('examen_edit', { 'id': entity.id }) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="delete-row" href="">
                        <i class="fa fa-trash-o"></i>
                    </a>

                </td>


                <td><a href="{{ path('examen_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nameexamen }}</td>
                <td>{% if entity.dateexamen %}{{ entity.dateexamen|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.starttime %}{{ entity.starttime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.endtime %}{{ entity.endtime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('examen_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('examen_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      {# <ul>
        <li>
            <a href="{{ path('examen_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}
